<% @page_header = 'Instituições' %>
<section class="instituicao clear-fix">

  <div class="row breadcrumb">
    <p> instituições </p>
  </div>

  <div class="box box-primary">
    <div class="box-header with-border">
        <%= link_to 'Nova', new_instituicao_path, class: 'btn btn-primary' %>
    </div>
    <div class="box-body">
      <table id="instituicao-index-tb" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sigla</th>
              <th>Contato</th>
              <th>Tel. Contato</th>
              <th>Condição</th>
              <th colspan="3">Ações</th>
            </tr>
          </thead>

          <tbody>
              <% @instituicoes.each do |instituicao| %>
                  <tr>
                      <td><%= instituicao.nome %></td>
                      <td><%= instituicao.sigla %></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><%= link_to edit_instituicao_path(instituicao), class: "link-ativa" do %>
                          <i class="ion-edit"></i>
                      <%end%>
                  </td>
                  <td>
                      <div href="#" class="link-delete instituicao">
                          <i class="ion-close-circled"></i>
                          <%= link_to(" ",arquivar_instituicao_path(instituicao), method: "put", class:"link-delete hidden" )%>
                      </div>
                  </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>

</section>

<%= render(partial: "layouts/flash_messages")%>
