<p id="notice"><%= notice %></p>

<h1>Instituicoes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Cnpj</th>
      <th>Data aprovacao</th>
      <th>Resumo</th>
      <th>Site</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @instituicoes.each do |instituicao| %>
      <tr>
        <td><%= instituicao.nome %></td>
        <td><%= instituicao.sigla %></td>
        <td><%= instituicao.cnpj %></td>
        <td><%= instituicao.data_aprovacao %></td>
        <td><%= instituicao.resumo %></td>
        <td><%= instituicao.site %></td>
        <td><%= link_to 'Edit', edit_instituicao_path(instituicao) %></td>
        <td><%= link_to 'Destroy', instituicao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instituicao', new_instituicao_path %>
