<%= form_for(ipa) do |f| %>
  <% if ipa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ipa.errors.count, "error") %> prohibited this ipa from being saved:</h2>

      <ul>
      <% ipa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
