<p id="notice"><%= notice %></p>

<h1>Incidentes</h1>

<table>
  <thead>
    <tr>
      <th>Trecho</th>
      <th>Cod</th>
      <th>Data</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Responsavel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidentes.each do |incidente| %>
      <tr>
        <td><%= incidente.trecho.cod %></td>
        <td><%= incidente.cod %></td>
        <td><%= incidente.data %></td>
        <td><%= incidente.latitude %></td>
        <td><%= incidente.longitude %></td>
        <td><%= incidente.responsavel %></td>
        <td><%= link_to 'Show', incidente %></td>
        <td><%= link_to 'Edit', edit_incidente_path(incidente) %></td>
        <td><%= link_to 'Destroy', incidente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incidente', new_incidente_path %>
