<p>
    <% @achou = 0%>
     
   <%= portadgo.cod %>  
   <!--<%= portadgo.gbic.serie %> -->
   <%= portadgo.fibra.numero %> 

   <% if portadgo.fibra %>
    <% @fusoes.each do |t| %>
    <% if  t.fibra.numero == portadgo.fibra.numero %>
      <%=  "#{portadgo.fibra.fusao.conexao.site.nome}" %>
      <% @achou = 1%>
      <% break %>
   <% end %>
  <% end %>
  <% if @achou == 0 %>
  <%= link_to'Vaga', "#{@link}"+"#{portadgo.dgo_id}/portadgos/#{portadgo.id}/conectar" %>
  <% end %>
  <% end %>

 

   <%= link_to '(remover)', portadgo, method: :delete, data: { confirm: 'Are you sure?' } %>
   <%= link_to '(mostrar)', portadgo %>
 </p>

 