<p>
    <% @achou = 0%>
   <%= portadgo.cod %>  
   <%= portadgo.gbic.serie %> 
   <% if portadgo.fibra %>
    <% @conectadas.each do |t| %>
    <% if  t.numero == portadgo.fibra.numero %>
      <%= 'Conectada' %>
      <% @achou = 1%>
     	<% break %>
   <% end %>
  <% end %>
  <% if @achou == 0 %>
  <%= link_to'Vaga', "#{portadgo.dgo_id}/portadgos/#{portadgo.id}/conectar" %>
  <% end %>
  <% end %>


   <%= link_to '(remover)', portadgo, method: :delete, data: { confirm: 'Are you sure?' } %>
   <%= link_to '(mostrar)', portadgo %>
 </p>

 