<table <%= initial_display.html_safe %> class="table table-bordered table-hover" id="<%= identifier %>">
  <thead>
    <tr>
      <th> Nome</th>
      <th> Ações</th>
    </tr>
  </thead>
  <tbody>
    <% repasse_categorias.each do |categoria| %>
      <tr record_id="<%= categoria.id %>">
        <td> <%= categoria.nome %></td>
        <td>
          <% if categoria.ativa %>
            <div class="link-holder desativa" data-toggle="tooltip" title="Desativar Categoria">
              <i class="<%= icone %>"></i>
              <%= link_to(" ", repasse_categoria_path(categoria), method: "delete", class: "link-delete")  %>
            </div>
          <% else %>
            <div class="link-holder reativa" data-toggle="tooltip" title="Reativar Categoria">
              <i class="<%= icone %>"></i>
              <%= link_to(" ", ativar_repasse_categoria_path(categoria), method: "post", class: "link-ativa")  %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
