<table class="table table-bordered table-hover" id="<%= identifier %>">
    <thead>
        <tr>
            <th> Nome</th>
            <th> Ações</th>
        </tr>
    </thead>
    <tbody>
        <% categorias.each do |categoria| %>
            <tr record_id="<%= categoria.id %>">
                <td> <%= categoria.nome %></td>
                <td>
                    <% if categoria.ativa %>
                        <div class="link-holder desativa" data-toggle="tooltip" title="Desativar Categoria">
                            <i class="<%= icone %>"></i>
                            <%= link_to(" ", categoria_path(categoria), method: "delete", class: "link-delete hidden")  %>
                        </div>
                    <% else %>
                        <div class="link-holder reativa" data-toggle="tooltip" title="Reativar Categoria">
                            <i class="<%= icone %>"></i>
                            <%= link_to(" ", ativar_categoria_path(categoria), method: "post", class: "link-ativa")  %>
                        </div>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

