<p id="notice"><%= notice %></p>

<h1>Fusoes</h1>

<table>
  <thead>
    <tr>
      <th>Fibra</th>
      <th>Fibra 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fusoes.each do |fusao| %>
      <tr>
        <td><%= fusao.fibra.numero %></td>
        <td><%= fusao.fibra2.numero %></td>
        <td><%= link_to 'Show', fusao %></td>
        <td><%= link_to 'Edit', edit_fusao_path(fusao) %></td>
        <td><%= link_to 'Destroy', fusao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fusao', new_fusao_path %>
