<p id="notice"><%= notice %></p>

<p>
  <strong>Fibra:</strong>
  <%= @fusao.fibra.numero %>
</p>

<p>
  <strong>Fibra2:</strong>
  <%= @fusao.fibra2.numero %>
</p>

<%= link_to 'Edit', edit_fusao_path(@fusao) %> |
<%= link_to 'Back', fusoes_path %>
