<h3>Usuários</h3>

  <table>
    <thead>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td> <%= user.id %> </td>
          <td> <%= user.complemento ? user.complemento.nome : "" %> </td> # provisorio, validação cuidará desse detalhe
          <td> <%= user.email %> </td>
          <td> <%= user.complemento ? user.complemento.telefone : "" %> </td> # provisorio, validação cuidará desse detalhe
          <% if user == current_usuario %>
            <td> <%= link_to "Editar", edit_usuario_registration_path(user)%> </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
