<% @page_header = "Usuários"%>
<div class="box box-primary">
  <span>  </span>
  <div class="box-header with-border">
    <%= button_to "Novo", new_usuario_path, method: :get, class: "btn btn-primary" %>
  </div>
  <div class="box-body">
    <table class="table table-bordered table-hover">
      <thead>
        <th>#</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Ações</th>
      </thead>
      <tbody>
        <% @usuarios.each do |usuario| %>
          <tr>
            <td> <%= usuario.id %> </td>
            <!-- provisorio, validação cuidará desse detalhe -->
            <td> <%= usuario.nome %> </td>
            <td> <%= usuario.email %> </td>
            <!-- provisorio, validação cuidará desse detalhe -->
            <td> <%= usuario.telefone %> </td>
            <% if usuario == current_usuario %>
              <td> <%= link_to " ", edit_usuario_registration_path(usuario), class: "ion-edit" %> </td>
            <% else %>
              <td> <%= link_to " ", desativar_usuario_path(usuario), method: :put, class: "ion-close-circled" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
