<% @page_header = 'Novo Usuário' %>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Dados do novo usuário</h3>
  </div>
  <div class="box-body">
    <%= form_for(@usuario, html: { class: 'form-horizontal' }) do |f| %>

      <div class="form-group">
        <%= f.label :nome, class: 'col-sm-1 col-sm-offset-1 control-label' %>
        <div class="col-sm-4">
          <%= f.text_field :nome, placeholder: 'Nome completo', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :telefone, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.text_field :telefone, placeholder: '(61) 91234-5678', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: 'col-sm-2 control-label' %>
        <div class="col-sm-3">
          <%= f.email_field :email, autofocus: true, placeholder: 'usuario@email.com', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, "Senha", class: 'col-sm-2 control-label' %>
        <div class="col-sm-2">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Senha', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmar Senha", class: 'col-sm-2 control-label' %>
        <div class="col-sm-2">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Repita a senha', class: 'form-control' %>
        </div>
      </div>

      <%= f.hidden_field :ativo, value: true %>
    </div>

    <div class="box-footer">
      <div class="col-sm-offset-1">
        <%= f.submit "Cadastrar", class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
</div>
