<p id="notice"><%= notice %></p>

<p>
  <strong>Portadgo:</strong>
  <%= @jumper.portadgo.id %>
</p>

<p>
  <strong>Portadgo2:</strong>
  <%= @jumper.portadgo2_id %>
</p>
<%= link_to 'Edit', edit_jumper_path(@jumper) %> |
<%= link_to 'Back', jumpers_path %>
