<%= form_for(nobreak) do |f| %>
  <% if nobreak.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nobreak.errors.count, "error") %> prohibited this nobreak from being saved:</h2>

      <ul>
      <% nobreak.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @nobreak.site %>
      <%= f.hidden_field 'site_id' %>
    <% else %>
    <p><%= f.label :site_id %><br />
    <%= f.collection_select(:site_id, @sites,:id, :nome, :prompt => true) %></p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :potencia %>
    <%= f.number_field :potencia %>
  </div>

  <div class="field">
    <%= f.label :proprietario %>
    <%= f.text_field :proprietario %>
  </div>

  <div class="field">
    <%= f.label :patrimonio %>
    <%= f.text_field :patrimonio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
