<%= form_for @site do |f| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <!-- 
 <div class="field">
    <% if @site.ipa %>
      <%= f.hidden_field 'ipa_id' %>
    <% else %>
    <p><%= f.label :ipa_id %><br />
    <%= f.collection_select(:ipa_id, @ipas,:id, :nome, :prompt => true) %></p>
    <% end %>
  </div>
  -->
  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :largura_banda %>
    <%= f.number_field :largura_banda %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
