<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li ><a href="#"><i class='fa fa-building-o'></i> <span> Instituições</span></a> </li>
      <li class="header"><%= link_to 'Ver instituições', instituicoes_path %></li>
      <li class="header"><%= link_to 'Nova instituição', new_instituicao_path %></li>
      <li class="header"><%= link_to 'Categorias', categorias_path %></li>

      <li ><a href="#"><i class='fa fa-folder-open-o'></i> <span> Instrumentos Jurídicos</span></a> </li>
        <li class="header"><a href="#">Ver instrumentos jurídicos</a></li>
        <li class="header"><a href="#">Novo instrumento jurídico</a></li>
        <li class="header"><a href="#">Novo aditivo</a></li>
        <li class="header"><%= link_to 'Categoria de repasse', repasse_categorias_path %></li>

      <li ><a href="#"><i class='fa fa-link'></i> <span>Conexões</span></a></li>
      <li ><a href="#"><i class='fa fa-wrench'></i> <span>Equipamentos</span></a></li>
      <li ><a href="#"><i class='fa fa-bar-chart'></i> <span>Demandas</span></a></li>

      <li ><a href="#"><i class='fa fa-users'></i> <span>Acesso</span></a> </li>
      <li class="header"><%= link_to 'Novo usuário', new_usuario_path %></li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
