<!DOCTYPE html>
<html>
  <head>
    <title>GigaCandanga</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if current_usuario %>
      <%= link_to "Deslogar", destroy_usuario_session_path, method: :delete %>
    <% end %>
  </head>

  <body>
    <div class="page-wrapper">
      <%= render "layouts/navbar"%>
      <%= render "layouts/sidebar"%>
      <%= yield %>
    </div>
  </body>
</html>
